global
    log         127.0.0.1 local2
    maxconn     20000
    daemon

defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1h
    timeout server          1h
    timeout check           10s
    maxconn                 20000

frontend api-server-6443
    bind *:16443
    mode tcp
    option tcplog
    default_backend api-server-6443

backend api-server-6443
    mode tcp
    balance roundrobin
    option httpchk
    http-check send meth GET uri /readyz ver HTTP/1.1 hdr Host localhost
    http-check expect status 200
    default-server inter 5s fall 3 rise 2 check-ssl verify none on-marked-down shutdown-sessions
    server master0 MASTER0_IP:6443 check
    server master1 MASTER1_IP:6443 check
    server master2 MASTER2_IP:6443 check

listen stats
    bind *:9000
    mode http
    stats enable
    stats uri /
    stats refresh 10s

